[submodule "pack/cirocosta/start/vim-jsonnet"]
	path = pack/cirocosta/start/vim-jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "pack/cirocosta/start/vim-vinegar"]
	path = pack/cirocosta/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/cirocosta/start/nvim-yarp"]
	path = pack/cirocosta/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "pack/cirocosta/start/vim-hug-neovim-rpc"]
	path = pack/cirocosta/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "pack/cirocosta/start/ncm2"]
	path = pack/cirocosta/start/ncm2
	url = https://github.com/ncm2/ncm2
[submodule "pack/cirocosta/start/ncm2-go"]
	path = pack/cirocosta/start/ncm2-go
	url = https://github.com/ncm2/ncm2-go
[submodule "pack/cirocosta/start/ncm2-bufword"]
	path = pack/cirocosta/start/ncm2-bufword
	url = https://github.com/ncm2/ncm2-bufword
[submodule "pack/cirocosta/start/ncm2-path"]
	path = pack/cirocosta/start/ncm2-path
	url = https://github.com/ncm2/ncm2-path
[submodule "pack/cirocosta/start/editorconfig-vim"]
	path = pack/cirocosta/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/cirocosta/start/vim-go"]
	path = pack/cirocosta/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/cirocosta/start/YouCompleteMe"]
	path = pack/cirocosta/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "pack/cirocosta/start/vim-commentary"]
	path = pack/cirocosta/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/cirocosta/start/vim-hcl"]
	path = pack/cirocosta/start/vim-hcl
	url = https://github.com/b4b4r07/vim-hcl
[submodule "pack/cirocosta/start/vim-yaml-folds"]
	path = pack/cirocosta/start/vim-yaml-folds
	url = https://github.com/pedrohdz/vim-yaml-folds
